html {
    font-size: 62.5%;
}

*{
margin: 0px;
padding: 0px;
display: border-box;

}

body{
    font-family: $font-lexenddeca;
    font-size: $font-std;
    background-color: $verylightgray;
}

h1{
    margin-bottom: 2.6rem;
    font-family: $font-bigshoulder;
    font-size: $font-lg;
    text-transform: uppercase;
    color: $verylightgray;
}

p{

    
    color: $transparentwhite;
    margin-bottom: 2.2rem;
    line-height: 2.5rem;

    @include breakpoint-up(large){
        margin-bottom: 8rem;
    }


}

button{
    height: 5rem;
    width: 15rem;
    margin-bottom: 4.9rem;
    cursor: pointer;
    border-radius: 10rem;
    border: none;
    font-size: 1.5rem;
    background-color: $verylightgray;
}

