// Primary Color

$brightorange: hsl(31, 77%, 52%);
$darkcyan: hsl(184, 100%, 22%);
$verydarkcyan: hsl(179, 100%, 13%);

// Neutral Color

$transparentwhite: hsla(0, 0%, 100%, 0.75); //(paragraphs)
$verylightgray: hsl(0, 0%, 95%); //(background, headings, buttons)

// Text

$font-sm: 1rem;
$font-std: 1.5rem;
$font-lg: 3.9rem;

// Font

$font-bigshoulder: 'Big Shoulders Display';
$font-lexenddeca: 'Lexend Deca', sans-serif;